*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html,body { 
    font-family:fantasy;
    overflow: hidden;
    height: 100vh;
  }

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-padding-bottom: 500px;
}

section {
    height: 90vh;
    scroll-snap-align: start;
    padding: 10px;
}

  #introduction {
    background-color: rgb(207, 251, 236);
  }

  #my-work {
    display: grid;
    grid-template-rows: min-content auto;
    background-color: rgb(246, 251, 207);
  }

  .my-work__projects {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row nowrap;

    overflow: scroll;
    border: 1px solid orange;
    overflow: scroll;
  }

  .project {
    flex-basis: 250px;
    flex-shrink: 0;
    margin: 8px;
    border: 1px dashed green;
  }
  
  #contact {
    background-color: rgb(207, 219, 251);
  }

  @media only screen and (max-width: 600px) {
    .projectPanels {
        flex-flow: row nowrap;
        overflow: scroll;
    }
  }
       