*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html,body { 
    font-family:fantasy;
    color: white;
    overflow: hidden;
    height: 100vh;
  }

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    padding: 10px;
}

  #introduction {
    text-align: center;
    background: rgb(131,200,213);
    background: radial-gradient(circle, rgba(131,200,213,1) 0%, rgba(9,9,121,1) 55%, rgba(2,0,36,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #introduction>h1{
    color: white;
    font-size: 3rem;
  }

  #my-work {
    display: grid;
    grid-template-rows: min-content auto;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 55%, rgba(131,200,213,1) 100%);
  }

  #my-work__projects {
    scroll-snap-type: x mandatory;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row nowrap;

    overflow: scroll;
  }

  .project {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex-basis: 66vw;
    flex-shrink: 0;
    margin: 16px;
    border: 1px dashed green;
  }

  .projpadding {
    scroll-snap-align:none;
    flex-basis: 17vw;
  }
  
  #contact {
    background: rgb(131,200,213);
    background: linear-gradient(180deg, rgba(131,200,213,1) 0%, rgba(9,9,121,1) 83%, rgba(2,0,36,1) 100%);
  }

  /* @media only screen and (max-width: 600px) {
    .projectPanels {
        flex-flow: row nowrap;
        overflow: scroll;
    }
  } */
       