*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html,body { 
    font-family:fantasy;
    color: white;
    overflow: hidden;
    height: 100vh;
  }

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
}

  #introduction {
    text-align: center;
    background: rgb(131,200,213);
    background: radial-gradient(circle, rgba(131,200,213,1) 0%, rgba(9,9,121,1) 55%, rgba(2,0,36,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #introduction>h1{
    color: white;
    font-size: 3rem;
  }

  #my-work {
    display: grid;
    grid-template-rows: min-content auto;
    background: rgb(0, 0, 0);
    position: relative;
  }

  #my-work__left-button, #my-work__right-button{
    background-color: rgb(134, 134, 135);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    padding: 0.5rem;
    z-index: 1;
  }

  #my-work__left-button{
    left: 5%;
  }

  #my-work__right-button{
    right: 5%;
  }

  #my-work__projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    scroll-snap-type: x proximity;
    scroll-snap-stop: always;
    overflow: scroll;
  }

  .project {
    flex: 3 0 70vw;
    position: relative;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    height: 80vh;
    opacity:0;
    transition: opacity 0.3s linear;
    background:rgb(96, 94, 125);
  }

  .pad {
    scroll-snap-align:none;
    flex: 1 0 15vw;
  }

  #contact {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #starField {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  /* @media only screen and (max-width: 600px) {
    .projectPanels {
        flex-flow: row nowrap;
        overflow: scroll;
    }
  } */
       